ENV=The environment that the application is running in
ALGORITHM=The algorithm used for creating JWT
ACCESS_TOKEN_EXPIRE_MINUTES=The amount of time in minutes that a token is valid
MONGO_USER=The mongodb user
MONGO_PWD=The mongodb user password
MONGO_DB=The mongodb database that the application will use 